[submodule "passgen"]
	path = passgen
	url = https://github.com/AlleAkhil/passgen.git
[submodule "turbotap"]
	path = turbotap
	url = https://github.com/AlleAkhil/turbotap.git
[submodule "snapeat"]
	path = snapeat
	url = https://github.com/AlleAkhil/snapeat.git
[submodule "quizzify"]
	path = quizzify
	url = https://github.com/AlleAkhil/quizzify.git
